<h1>Editing Job Faction</h1>

<%= render 'form', job_faction: @job_faction %>

<%= link_to 'Show', [@campaign, @job, @faction, @job_faction] %> |
<%= link_to 'Back', campaign_job_job_factions_path(@campaign, @faction) %>
